body, html {
    height: 100%;
    font-family: 'Pacifico', cursive, sans-serif;
    font-size: 20px;
}

h1 {
    font-weight: bold!important;
    font-size: 40px!important;
    color:rgba(36, 43, 56, 1);
    padding: 0 10%;
}

.container {
    background-size: cover;
    min-height: 100%;
    font-family: 'Pacifico', cursive, sans-serif;
}

img.image {
    position: absolute;
    left:0;
    top: 0;
    width:100%;
    height: auto;
    opacity: 0.8;
}

.card {
    background-color:rgba(239,224,205,0.7);
}


