body, html {
    height: 100%;
    font-family: 'Pacifico', cursive, sans-serif;
    font-size: 20px;
}

img.image {
    position: absolute;
    left:0;
    top: 0;
    width:100%;
    height: 100%;
    opacity: 0.8;
}

h1 {
    font-weight: bold!important;
    font-size: 40px!important;
    color:rgba(36, 43, 56, 1);
    padding: 0 10%;
}

.container {
    background-size: cover;
    min-height: 100%;
    font-family: 'Pacifico', cursive, sans-serif;
}

.card {
    background-color:rgba(239,224,205,0.5);
}

.winner {
    background-color:rgba(0,153,76,0.5);
}

.looser {
    background-color:rgba(255,51,51,0.5);
}

.w3-theme-gradient {
    color: #000 !important;
    background:-webkit-linear-gradient(top, #a26a7a 25%, #f54242 75%)}
.w3-theme-gradient {
    color: #000 !important;
    background:-moz-linear-gradient(top, #a26a7a 25%, #f54242 75%)}
.w3-theme-gradient {
    color: #000 !important;
    background:-o-linear-gradient(top, #a26a7a 25%, #f54242 75%)}
.w3-theme-gradient {
    color: #000 !important;
    background:-ms-linear-gradient(top, #a26a7a 25%, #f54242 75%)}
.w3-theme-gradient {
    color: #000 !important;
    background: linear-gradient(top, #a26a7a 25%, #f54242 75%)}