table, td {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
}

body, html {
    height: 100%;
    font-family: 'Pacifico', cursive, sans-serif;
    font-size: 20px;
}

.container {
    min-height: 100%;
}

td {
    width: 2em;
    height: 2em;
}

td.SHIP {
    background-color: darkblue;
}

.button {
    cursor: pointer;
    margin: 10px;
}

button:focus {
    outline: none;
}

.button:hover {
    opacity: 0.7;
}

img.image {
    position: absolute;
    left:0;
    top: 0;
    width:100%;
    height: auto;
    opacity: 0.8;
}